body{
	padding: 0;
	margin: 0;
}
.page-wrapper {
  min-height: 100vh;
  
}



.bg-gra-01 {
  background: #f2f2f2;
}
.card{
	border: .5px solid #ffffff00;
	height: 700px;

}
.card1{
	
	height: 600px;
	width:60%;
	
	margin: 30px auto 0;
	border-radius: 5px;

}
.card2{
	float: left;
}
/* linear-gradient(#775ece54,#775ece) , */
.card-heading{
  background: url(../img/5.jpg) top left/cover no-repeat;
  display: table-cell;
  width: 50%;
 
  height: 600px;
  }
  .card-body{
  	 width: 50%;
  	background: #ffffff;
    height: 600px;
    text-align: center;

  }
  .title{
    text-align: center;
    font-family: cursive;
    padding-top: 46px;
  }
  .input--style-3,select {
    /* width: 61%;  */
    padding: 13px 45px;
    margin: 6px 0px 9px 5px;
    display: inline-block;
    border: none;
    /* border-bottom: solid 1px black; */
    background: #f1f1f1;
    border-radius: 25px;
    border: 1px solid #dde;
 
}

input:focus, select:focus {
  background-color: #dde;
  outline: none;
}
button {
  background-color: #5e60ce;
  color: white;
  font-size: 17px;
  padding: 7px 0px;
  margin: -13px 0 0;
  border: none;
  cursor: pointer;
  width: 63%;
  /* opacity: 0.9; */
  border-radius: 25px;
  font-family: cursive;
  outline: none;
}