.name-in-header{
    padding-top: 12px;
    font-size: 18px;
    color: blueviolet;
    font-weight: 900;
    text-transform: uppercase;
}

.homeUser-products{
    margin-top: 87px;
}
input[type=number]{
    width:80px;
}

.one-product{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236,238,239);
    background-color: rgb(255,255,255);
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    /* padding-top: 40px; */
    transition: all 500ms ease;
    text-align: center;
    padding: 31px 0px;
    margin: 26px 12px;
}
.one-product .name{
    padding-top: 20px;
}
.one-product .price{
    color: #FF5722;
}
.one-product:hover{
    box-shadow: -1px 9px 20px #6c757d38;
}
.one-product img{
    cursor: pointer;
}